<mat-toolbar
  style="z-index: 5000; background-color: #303030"
  class="toolbar justify-content-between gap-lg-5 gap-md-5 gap-5 position-fixed"
>
  <!-- toggle sidebar  -->
  <div class="searchsection d-flex">
    <button
      (click)="onToggle()"
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <div appearance="outline" class="row searchbar">
      <input
        type="search"
        class="search-input w-50"
        matInput
        style="width: 100px"
      />
      <mat-icon class="searchicon" matPrefix>search</mat-icon>
    </div>
  </div>

  <div class="notifications d-flex gap-3 align-items-center">
    <button
      style="background-color: var(--bs-orange)"
      (click)="logout()"
      mat-raised-button
      color="warn"
    >
      LogOut
    </button>
    <p class="m-0">
      <mat-icon class="m-0 fs-2" matBadge="10" matBadgeColor="accent"
        >notifications</mat-icon
      >
    </p>
    <img
      routerLink="/profile"
      class="avatar"
      src="assets/images/avatar.png"
      alt="avatar image"
    />
  </div>
</mat-toolbar>
