<div class="container-fluid mb-5">
  <div class="title">
    <h2>friends</h2>
  </div>
</div>
<div class="container-fluid">
  <div class="friends mb-5">
    <div class="row gap-3 justify-content-center">
      <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-4 col-sm-12 my-friends">
        <div class="head">
          <div class="pi mb-2">
            <i class="bi bi-telephone-fill text-white-50 me-2 fs-6 p-2"></i>
            <i class="bi bi-envelope text-white-50 fs-6 p-2"></i>
          </div>
          <div
            class="content d-flex flex-column justify-content-center align-items-center"
          >
            <img
              class="img-fluid mb-3"
              src="assets/images/friend-01.jpg"
              alt=""
            />
            <h4 class="text-capitalize fs-5 mb-1">ahmed fawzy</h4>
            <h5 class="text-capitalize fs-6 text-white-50">
              backend developer
            </h5>
          </div>
        </div>
        <div class="body">
          <div class="box mb-2">
            <i class="bi bi-emoji-smile fs-6 me-2"></i>
            <span class="text-capitalize">99 friends</span>
          </div>
          <div class="box mb-2">
            <i class="bi bi-code-square fs-6 me-2"></i>
            <span class="text-capitalize">15 projects</span>
          </div>
          <div class="box mb-2">
            <i class="bi bi-newspaper fs-6 me-2"></i>
            <span class="text-capitalize">25 articles</span>
          </div>
          <span class="vip">VIP</span>
        </div>
        <div
          class="foot d-flex justify-content-between align-items-center gap-1"
        >
          <div class="date">
            <span class="text-white-50">joined 04/10/2022</span>
          </div>
          <div class="buttons d-flex gap-1 flex-wrap justify-content-center">
            <button routerLink="/profile" mat-raised-button color="accent">
              profile
            </button>
            <button mat-raised-button color="warn">remove</button>
          </div>
        </div>
      </div>
      <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-4 col-sm-12 my-friends">
        <div class="head">
          <div class="pi mb-2">
            <i class="bi bi-telephone-fill text-white-50 me-2 fs-6 p-2"></i>
            <i class="bi bi-envelope text-white-50 fs-6 p-2"></i>
          </div>
          <div
            class="content d-flex flex-column justify-content-center align-items-center"
          >
            <img
              class="img-fluid mb-3"
              src="assets/images/friend-02.jpg"
              alt=""
            />
            <h4 class="text-capitalize fs-5 mb-1">ahmed soliman</h4>
            <h5 class="text-capitalize fs-6 text-white-50">
              backend developer
            </h5>
          </div>
        </div>
        <div class="body">
          <div class="box mb-2">
            <i class="bi bi-emoji-smile fs-6 me-2"></i>
            <span class="text-capitalize">30 friends</span>
          </div>
          <div class="box mb-2">
            <i class="bi bi-code-square fs-6 me-2"></i>
            <span class="text-capitalize">11 projects</span>
          </div>
          <div class="box mb-2">
            <i class="bi bi-newspaper fs-6 me-2"></i>
            <span class="text-capitalize">12 articles</span>
          </div>
          <span class="vip">VIP</span>
        </div>
        <div
          class="foot d-flex justify-content-between align-items-center gap-1"
        >
          <div class="date">
            <span class="text-white-50">joined 02/08/2020</span>
          </div>
          <div class="buttons d-flex gap-1 flex-wrap justify-content-center">
            <button routerLink="/profile" mat-raised-button color="accent">
              profile
            </button>
            <button mat-raised-button color="warn">remove</button>
          </div>
        </div>
      </div>
      <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-4 col-sm-12 my-friends">
        <div class="head">
          <div class="pi mb-2">
            <i class="bi bi-telephone-fill text-white-50 me-2 fs-6 p-2"></i>
            <i class="bi bi-envelope text-white-50 fs-6 p-2"></i>
          </div>
          <div
            class="content d-flex flex-column justify-content-center align-items-center"
          >
            <img
              class="img-fluid mb-3"
              src="assets/images/friend-03.jpg"
              alt=""
            />
            <h4 class="text-capitalize fs-5 mb-1">moaz mohamed</h4>
            <h5 class="text-capitalize fs-6 text-white-50">
              frontend developer
            </h5>
          </div>
        </div>
        <div class="body">
          <div class="box mb-2">
            <i class="bi bi-emoji-smile fs-6 me-2"></i>
            <span class="text-capitalize">80 friends</span>
          </div>
          <div class="box mb-2">
            <i class="bi bi-code-square fs-6 me-2"></i>
            <span class="text-capitalize">20 projects</span>
          </div>
          <div class="box mb-2">
            <i class="bi bi-newspaper fs-6 me-2"></i>
            <span class="text-capitalize">18 articles</span>
          </div>
          <span class="vip">VIP</span>
        </div>
        <div
          class="foot d-flex justify-content-between align-items-center gap-1"
        >
          <div class="date">
            <span class="text-white-50">joined 02/6/2022</span>
          </div>
          <div class="buttons d-flex gap-1 flex-wrap justify-content-center">
            <button routerLink="/profile" mat-raised-button color="accent">
              profile
            </button>
            <button mat-raised-button color="warn">remove</button>
          </div>
        </div>
      </div>
      <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-4 col-sm-12 my-friends">
        <div class="head">
          <div class="pi mb-2">
            <i class="bi bi-telephone-fill text-white-50 me-2 fs-6 p-2"></i>
            <i class="bi bi-envelope text-white-50 fs-6 p-2"></i>
          </div>
          <div
            class="content d-flex flex-column justify-content-center align-items-center"
          >
            <img
              class="img-fluid mb-3"
              src="assets/images/friend-04.jpg"
              alt=""
            />
            <h4 class="text-capitalize fs-5 mb-1">amr fawzy</h4>
            <h5 class="text-capitalize fs-6 text-white-50">ui/ux designer</h5>
          </div>
        </div>
        <div class="body">
          <div class="box mb-2">
            <i class="bi bi-emoji-smile fs-6 me-2"></i>
            <span class="text-capitalize">70 friends</span>
          </div>
          <div class="box mb-2">
            <i class="bi bi-code-square fs-6 me-2"></i>
            <span class="text-capitalize">30 projects</span>
          </div>
          <div class="box mb-2">
            <i class="bi bi-newspaper fs-6 me-2"></i>
            <span class="text-capitalize">18 articles</span>
          </div>
          <span class="vip">VIP</span>
        </div>
        <div
          class="foot d-flex justify-content-between align-items-center gap-1"
        >
          <div class="date">
            <span class="text-white-50">joined 28/06/2021</span>
          </div>
          <div class="buttons d-flex gap-1 flex-wrap justify-content-center">
            <button routerLink="/profile" mat-raised-button color="accent">
              profile
            </button>
            <button mat-raised-button color="warn">remove</button>
          </div>
        </div>
      </div>
      <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-4 col-sm-12 my-friends">
        <div class="head">
          <div class="pi mb-2">
            <i class="bi bi-telephone-fill text-white-50 me-2 fs-6 p-2"></i>
            <i class="bi bi-envelope text-white-50 fs-6 p-2"></i>
          </div>
          <div
            class="content d-flex flex-column justify-content-center align-items-center"
          >
            <img
              class="img-fluid mb-3"
              src="assets/images/friend-05.jpg"
              alt=""
            />
            <h4 class="text-capitalize fs-5 mb-1">anas mohamed</h4>
            <h5 class="text-capitalize fs-6 text-white-50">mobile developer</h5>
          </div>
        </div>
        <div class="body">
          <div class="box mb-2">
            <i class="bi bi-emoji-smile fs-6 me-2"></i>
            <span class="text-capitalize">80 friends</span>
          </div>
          <div class="box mb-2">
            <i class="bi bi-code-square fs-6 me-2"></i>
            <span class="text-capitalize">30 projects</span>
          </div>
          <div class="box mb-2">
            <i class="bi bi-newspaper fs-6 me-2"></i>
            <span class="text-capitalize">18 articles</span>
          </div>
        </div>
        <div
          class="foot d-flex justify-content-between align-items-center gap-1"
        >
          <div class="date">
            <span class="text-white-50">joined 28/08/2022</span>
          </div>
          <div class="buttons d-flex gap-1 flex-wrap justify-content-center">
            <button routerLink="/profile" mat-raised-button color="accent">
              profile
            </button>
            <button mat-raised-button color="warn">remove</button>
          </div>
        </div>
      </div>
      <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-4 col-sm-12 my-friends">
        <div class="head">
          <div class="pi mb-2">
            <i class="bi bi-telephone-fill text-white-50 me-2 fs-6 p-2"></i>
            <i class="bi bi-envelope text-white-50 fs-6 p-2"></i>
          </div>
          <div
            class="content d-flex flex-column justify-content-center align-items-center"
          >
            <img
              class="img-fluid mb-3"
              src="assets/images/friend-04.jpg"
              alt=""
            />
            <h4 class="text-capitalize fs-5 mb-1">mohamed hassan</h4>
            <h5 class="text-capitalize fs-6 text-white-50">
              frontend developer
            </h5>
          </div>
        </div>
        <div class="body">
          <div class="box mb-2">
            <i class="bi bi-emoji-smile fs-6 me-2"></i>
            <span class="text-capitalize">70 friends</span>
          </div>
          <div class="box mb-2">
            <i class="bi bi-code-square fs-6 me-2"></i>
            <span class="text-capitalize">30 projects</span>
          </div>
          <div class="box mb-2">
            <i class="bi bi-newspaper fs-6 me-2"></i>
            <span class="text-capitalize">18 articles</span>
          </div>
          <span class="vip">VIP</span>
        </div>
        <div
          class="foot d-flex justify-content-between align-items-center gap-1"
        >
          <div class="date">
            <span class="text-white-50">joined 28/06/2021</span>
          </div>
          <div class="buttons d-flex gap-1 flex-wrap justify-content-center">
            <button routerLink="/profile" mat-raised-button color="accent">
              profile
            </button>
            <button mat-raised-button color="warn">remove</button>
          </div>
        </div>
      </div>
      <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-4 col-sm-12 my-friends">
        <div class="head">
          <div class="pi mb-2">
            <i class="bi bi-telephone-fill text-white-50 me-2 fs-6 p-2"></i>
            <i class="bi bi-envelope text-white-50 fs-6 p-2"></i>
          </div>
          <div
            class="content d-flex flex-column justify-content-center align-items-center"
          >
            <img
              class="img-fluid mb-3"
              src="assets/images/friend-02.jpg"
              alt=""
            />
            <h4 class="text-capitalize fs-5 mb-1">naruto uzamaki</h4>
            <h5 class="text-capitalize fs-6 text-white-50">cloud developer</h5>
          </div>
        </div>
        <div class="body">
          <div class="box mb-2">
            <i class="bi bi-emoji-smile fs-6 me-2"></i>
            <span class="text-capitalize">30 friends</span>
          </div>
          <div class="box mb-2">
            <i class="bi bi-code-square fs-6 me-2"></i>
            <span class="text-capitalize">11 projects</span>
          </div>
          <div class="box mb-2">
            <i class="bi bi-newspaper fs-6 me-2"></i>
            <span class="text-capitalize">12 articles</span>
          </div>
        </div>
        <div
          class="foot d-flex justify-content-between align-items-center gap-1"
        >
          <div class="date">
            <span class="text-white-50">joined 28/08/2022</span>
          </div>
          <div class="buttons d-flex gap-1 flex-wrap justify-content-center">
            <button routerLink="/profile" mat-raised-button color="accent">
              profile
            </button>
            <button mat-raised-button color="warn">remove</button>
          </div>
        </div>
      </div>
      <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-4 col-sm-12 my-friends">
        <div class="head">
          <div class="pi mb-2">
            <i class="bi bi-telephone-fill text-white-50 me-2 fs-6 p-2"></i>
            <i class="bi bi-envelope text-white-50 fs-6 p-2"></i>
          </div>
          <div
            class="content d-flex flex-column justify-content-center align-items-center"
          >
            <img
              class="img-fluid mb-3"
              src="assets/images/friend-05.jpg"
              alt=""
            />
            <h4 class="text-capitalize fs-5 mb-1">goku</h4>
            <h5 class="text-capitalize fs-6 text-white-50">
              fullstack developer
            </h5>
          </div>
        </div>
        <div class="body">
          <div class="box mb-2">
            <i class="bi bi-emoji-smile fs-6 me-2"></i>
            <span class="text-capitalize">80 friends</span>
          </div>
          <div class="box mb-2">
            <i class="bi bi-code-square fs-6 me-2"></i>
            <span class="text-capitalize">30 projects</span>
          </div>
          <div class="box mb-2">
            <i class="bi bi-newspaper fs-6 me-2"></i>
            <span class="text-capitalize">12 articles</span>
          </div>
        </div>
        <div
          class="foot d-flex justify-content-between align-items-center gap-1"
        >
          <div class="date">
            <span class="text-white-50">joined 02/03/2021</span>
          </div>
          <div class="buttons d-flex gap-1 flex-wrap justify-content-center">
            <button routerLink="/profile" mat-raised-button color="accent">
              profile
            </button>
            <button mat-raised-button color="warn">remove</button>
          </div>
        </div>
      </div>
      <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-4 col-sm-12 my-friends">
        <div class="head">
          <div class="pi mb-2">
            <i class="bi bi-telephone-fill text-white-50 me-2 fs-6 p-2"></i>
            <i class="bi bi-envelope text-white-50 fs-6 p-2"></i>
          </div>
          <div
            class="content d-flex flex-column justify-content-center align-items-center"
          >
            <img
              class="img-fluid mb-3"
              src="assets/images/friend-01.jpg"
              alt=""
            />
            <h4 class="text-capitalize fs-5 mb-1">vegeta</h4>
            <h5 class="text-capitalize fs-6 text-white-50">
              javaScript developer
            </h5>
          </div>
        </div>
        <div class="body">
          <div class="box mb-2">
            <i class="bi bi-emoji-smile fs-6 me-2"></i>
            <span class="text-capitalize">99 friends</span>
          </div>
          <div class="box mb-2">
            <i class="bi bi-code-square fs-6 me-2"></i>
            <span class="text-capitalize">15 projects</span>
          </div>
          <div class="box mb-2">
            <i class="bi bi-newspaper fs-6 me-2"></i>
            <span class="text-capitalize">25 articles</span>
          </div>
          <span class="vip">VIP</span>
        </div>
        <div
          class="foot d-flex justify-content-between align-items-center gap-1"
        >
          <div class="date">
            <span class="text-white-50">joined 25/05/2022</span>
          </div>
          <div class="buttons d-flex gap-1 flex-wrap justify-content-center">
            <button routerLink="/profile" mat-raised-button color="accent">
              profile
            </button>
            <button mat-raised-button color="warn">remove</button>
          </div>
        </div>
      </div>
      <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-4 col-sm-12 my-friends">
        <div class="head">
          <div class="pi mb-2">
            <i class="bi bi-telephone-fill text-white-50 me-2 fs-6 p-2"></i>
            <i class="bi bi-envelope text-white-50 fs-6 p-2"></i>
          </div>
          <div
            class="content d-flex flex-column justify-content-center align-items-center"
          >
            <img
              class="img-fluid mb-3"
              src="assets/images/friend-03.jpg"
              alt=""
            />
            <h4 class="text-capitalize fs-5 mb-1">asta</h4>
            <h5 class="text-capitalize fs-6 text-white-50">content creator</h5>
          </div>
        </div>
        <div class="body">
          <div class="box mb-2">
            <i class="bi bi-emoji-smile fs-6 me-2"></i>
            <span class="text-capitalize">80 friends</span>
          </div>
          <div class="box mb-2">
            <i class="bi bi-code-square fs-6 me-2"></i>
            <span class="text-capitalize">20 projects</span>
          </div>
          <div class="box mb-2">
            <i class="bi bi-newspaper fs-6 me-2"></i>
            <span class="text-capitalize">18 articles</span>
          </div>
        </div>
        <div
          class="foot d-flex justify-content-between align-items-center gap-1"
        >
          <div class="date">
            <span class="text-white-50">joined 04/10/2022</span>
          </div>
          <div class="buttons d-flex gap-1 flex-wrap justify-content-center">
            <button routerLink="/profile" mat-raised-button color="accent">
              profile
            </button>
            <button mat-raised-button color="warn">remove</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
