<div class="main">
  <div class="title mb-5">
    <h2 class="pt-3 fs-3 mb-0 text-capitalize">sameh</h2>
    <span class="ball"></span>
  </div>
  <div class="content">
    <ul class="d-flex flex-column gap-3 ms-4">
      <li>
        <a routerLink="dashboard" routerLinkActive="router-link-active"
          ><mat-icon>dashboard</mat-icon>Dashboard</a
        >
      </li>
      <li>
        <a routerLink="settings" routerLinkActive="router-link-active"
          ><mat-icon>settings</mat-icon>settings</a
        >
      </li>
      <li>
        <a routerLink="profile" routerLinkActive="router-link-active"
          ><mat-icon>account_box</mat-icon>Profile</a
        >
      </li>
      <li>
        <a routerLink="projects" routerLinkActive="router-link-active"
          ><mat-icon>share</mat-icon>Projects</a
        >
      </li>
      <li>
        <a routerLink="courses" routerLinkActive="router-link-active"
          ><mat-icon>library_books</mat-icon>Courses</a
        >
      </li>
      <li>
        <a routerLink="friends" routerLinkActive="router-link-active"
          ><mat-icon>account_circle</mat-icon>Friends</a
        >
      </li>
      <li>
        <a routerLink="files" routerLinkActive="router-link-active"
          ><mat-icon>insert_drive_file</mat-icon>Files</a
        >
      </li>
      <li>
        <a routerLink="plans" routerLinkActive="router-link-active"
          ><mat-icon>credit_card</mat-icon>Plans</a
        >
      </li>
    </ul>
  </div>
</div>
