<div class="container-fluid">
  <div class="title">
    <h2>projects</h2>
  </div>
</div>
<div class="projects">
  <div class="container-fluid">
    <div class="row gap-3 mb-3 flex-xxl-nowrap justify-content-center">
      <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 myprojectr">
        <div class="box">
          <span class="date text-white-50">15/10/2021</span>
          <div class="head mb-5">
            <h2 class="text-capitalize fs-6 mb-1">sameh dashboard</h2>
            <span class="text-capitalize fs-6 text-white-50"
              >sameh dashboard project design and programming and hosting</span
            >
          </div>
          <div class="body">
            <div class="image d-flex mb-5">
              <img class="img-fluid" src="assets/images/team-01.png" alt="" />
              <img class="img-fluid" src="assets/images/team-02.png" alt="" />
              <img class="img-fluid" src="assets/images/team-03.png" alt="" />
              <img class="img-fluid" src="assets/images/team-04.png" alt="" />
              <img class="img-fluid" src="assets/images/team-05.png" alt="" />
            </div>
            <div class="skills d-flex justify-content-end mb-4">
              <mat-chip-list aria-label="skills">
                <mat-chip class="chip" color="primary" selected
                  >Programming</mat-chip
                >
                <mat-chip class="chip" color="primary" selected
                  >Design</mat-chip
                >
                <mat-chip class="chip" color="primary" selected
                  >Hosting</mat-chip
                >
                <mat-chip class="chip" color="primary" selected
                  >Marketing</mat-chip
                >
              </mat-chip-list>
            </div>
          </div>
          <div
            class="foot d-flex justify-content-between align-items-center mb-3"
          >
            <mat-progress-bar
              class="prog"
              style="width: 50%"
              color="accent"
              mode="determinate"
              value="30"
            ></mat-progress-bar>
            <span class="text-white-50 money">$2500</span>
          </div>
        </div>
      </div>
      <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 myprojectr">
        <div class="box">
          <span class="date text-white-50">15/6/2021</span>
          <div class="head mb-5">
            <h2 class="text-capitalize fs-6 mb-1">academy portal</h2>
            <span class="text-capitalize fs-6 text-white-50"
              >academy portal project design and programming and hosting</span
            >
          </div>
          <div class="body">
            <div class="image d-flex mb-5">
              <img class="img-fluid" src="assets/images/team-01.png" alt="" />
              <img class="img-fluid" src="assets/images/team-02.png" alt="" />
              <img class="img-fluid" src="assets/images/team-03.png" alt="" />
            </div>
            <div class="skills d-flex justify-content-end mb-4">
              <mat-chip-list aria-label="skills ">
                <mat-chip class="chip" color="accent" selected
                  >Programming</mat-chip
                >
                <mat-chip class="chip" color="accent" selected>Design</mat-chip>
              </mat-chip-list>
            </div>
          </div>
          <div
            class="foot d-flex justify-content-between align-items-center mb-3"
          >
            <mat-progress-bar
              style="width: 50%"
              color="accent"
              mode="determinate"
              value="50"
            ></mat-progress-bar>
            <span class="text-white-50 money">$1800</span>
          </div>
        </div>
      </div>
      <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 myprojectr">
        <div class="box">
          <span class="date">15/6/2022</span>
          <div class="head mb-5">
            <h2 class="text-capitalize fs-6 mb-1">chatting application</h2>
            <span class="text-capitalize fs-6 text-white-50"
              >chatting application project design</span
            >
          </div>
          <div class="body">
            <div class="image d-flex mb-5">
              <img class="img-fluid" src="assets/images/team-01.png" alt="" />
              <img class="img-fluid" src="assets/images/team-02.png" alt="" />
              <img class="img-fluid" src="assets/images/team-03.png" alt="" />
            </div>
            <div class="skills d-flex justify-content-end mb-4">
              <mat-chip-list aria-label="skills">
                <mat-chip class="chip" color="warn" selected>Design</mat-chip>
              </mat-chip-list>
            </div>
          </div>
          <div
            class="foot d-flex justify-content-between align-items-center mb-3"
          >
            <mat-progress-bar
              style="width: 50%"
              color="accent"
              mode="determinate"
              value="65"
            ></mat-progress-bar>
            <span class="text-white-50 money">960$</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row gap-3 mb-3 flex-xxl-nowrap justify-content-center">
      <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 myprojectr">
        <div class="box">
          <span class="date text-white-50">15/10/2021</span>
          <div class="head mb-5">
            <h2 class="text-capitalize fs-6 mb-1">ahmed dashboard</h2>
            <span class="text-capitalize fs-6 text-white-50"
              >ahmed dashboard project design and programming and hosting</span
            >
          </div>
          <div class="body">
            <div class="image d-flex mb-5">
              <img class="img-fluid" src="assets/images/team-01.png" alt="" />
              <img class="img-fluid" src="assets/images/team-02.png" alt="" />
              <img class="img-fluid" src="assets/images/team-03.png" alt="" />
              <img class="img-fluid" src="assets/images/team-04.png" alt="" />
            </div>
            <div class="skills d-flex justify-content-end mb-4">
              <mat-chip-list aria-label="skills">
                <mat-chip class="chip" color="accent" selected
                  >Programming</mat-chip
                >
                <mat-chip class="chip" color="accent" selected>Design</mat-chip>
                <mat-chip class="chip" color="accent" selected
                  >Hosting</mat-chip
                >
                <mat-chip class="chip" color="accent" selected
                  >Marketing</mat-chip
                >
              </mat-chip-list>
            </div>
          </div>
          <div
            class="foot d-flex justify-content-between align-items-center mb-3"
          >
            <mat-progress-bar
              style="width: 50%"
              color="accent"
              mode="determinate"
              value="40"
            ></mat-progress-bar>
            <span class="text-white-50 money">1700$</span>
          </div>
        </div>
      </div>
      <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 myprojectr">
        <div class="box">
          <span class="date text-white-50">25/5/2022</span>
          <div class="head mb-5">
            <h2 class="text-capitalize fs-6 mb-1">ahmed portal</h2>
            <span class="text-capitalize fs-6 text-white-50"
              >ahmed portal project design and programmings</span
            >
          </div>
          <div class="body">
            <div class="image d-flex mb-5">
              <img class="img-fluid" src="assets/images/team-01.png" alt="" />
              <img class="img-fluid" src="assets/images/team-02.png" alt="" />
              <img class="img-fluid" src="assets/images/team-03.png" alt="" />
            </div>
            <div class="skills d-flex justify-content-end mb-4">
              <mat-chip-list aria-label="skills">
                <mat-chip class="chip" color="accent" selected
                  >Programming</mat-chip
                >
                <mat-chip class="chip" color="accent" selected>Design</mat-chip>
              </mat-chip-list>
            </div>
          </div>
          <div
            class="foot d-flex justify-content-between align-items-center mb-3"
          >
            <mat-progress-bar
              style="width: 50%"
              color="accent"
              mode="determinate"
              value="30"
            ></mat-progress-bar>
            <span class="text-white-50 money">850$</span>
          </div>
        </div>
      </div>
      <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 myprojectr">
        <div class="box">
          <span class="date text-white-50">25/5/2022</span>
          <div class="head mb-5">
            <h2 class="text-capitalize fs-6 mb-1">mohamed application</h2>
            <span class="text-capitalize fs-6 text-white-50"
              >mohamed application project design</span
            >
          </div>
          <div class="body">
            <div class="image d-flex mb-5">
              <img class="img-fluid" src="assets/images/team-01.png" alt="" />
              <img class="img-fluid" src="assets/images/team-02.png" alt="" />
              <img class="img-fluid" src="assets/images/team-03.png" alt="" />
            </div>
            <div class="skills d-flex justify-content-end mb-4">
              <mat-chip-list aria-label="skills">
                <mat-chip class="chip" color="warn" selected>Design</mat-chip>
              </mat-chip-list>
            </div>
          </div>
          <div
            class="foot d-flex justify-content-between align-items-center mb-3"
          >
            <mat-progress-bar
              style="width: 50%"
              color="accent"
              mode="determinate"
              value="30"
            ></mat-progress-bar>
            <span class="text-white-50 money">950$</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row gap-3 mb-3 flex-xxl-nowrap justify-content-center">
      <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 myprojectr">
        <div class="box">
          <span class="date text-white-50">4/10/2022</span>
          <div class="head mb-5">
            <h2 class="text-capitalize fs-6 mb-1">mohamed dashboard</h2>
            <span class="text-capitalize fs-6 text-white-50"
              >mohamed dashboard project design and programming and
              hosting</span
            >
          </div>
          <div class="body">
            <div class="image d-flex mb-5">
              <img class="img-fluid" src="assets/images/team-01.png" alt="" />
              <img class="img-fluid" src="assets/images/team-02.png" alt="" />
              <img class="img-fluid" src="assets/images/team-03.png" alt="" />
              <img class="img-fluid" src="assets/images/team-04.png" alt="" />
            </div>
            <div class="skills d-flex justify-content-end mb-4">
              <mat-chip-list aria-label="skills">
                <mat-chip class="chip" color="accent" selected
                  >Programming</mat-chip
                >
                <mat-chip class="chip" color="accent" selected>Design</mat-chip>
                <mat-chip class="chip" color="accent" selected
                  >Hosting</mat-chip
                >
                <mat-chip class="chip" color="accent" selected
                  >Marketing</mat-chip
                >
              </mat-chip-list>
            </div>
          </div>
          <div
            class="foot d-flex justify-content-between align-items-center mb-3"
          >
            <mat-progress-bar
              style="width: 50%"
              color="accent"
              mode="determinate"
              value="45"
            ></mat-progress-bar>
            <span class="text-white-50 money">$1950s</span>
          </div>
        </div>
      </div>
      <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 myprojectr">
        <div class="box">
          <span class="date text-white-50">4/10/2022</span>
          <div class="head mb-5">
            <h2 class="text-capitalize fs-6 mb-1">sameh portal</h2>
            <span class="text-capitalize fs-6 text-white-50"
              >sameh portal project design and programming</span
            >
          </div>
          <div class="body">
            <div class="image d-flex mb-5">
              <img class="img-fluid" src="assets/images/team-01.png" alt="" />
              <img class="img-fluid" src="assets/images/team-02.png" alt="" />
              <img class="img-fluid" src="assets/images/team-03.png" alt="" />
            </div>
            <div class="skills d-flex justify-content-end mb-4">
              <mat-chip-list aria-label="skills">
                <mat-chip class="chip" color="accent" selected
                  >Programming</mat-chip
                >
                <mat-chip class="chip" color="accent" selected>Design</mat-chip>
              </mat-chip-list>
            </div>
          </div>
          <div
            class="foot d-flex justify-content-between align-items-center mb-3"
          >
            <mat-progress-bar
              style="width: 50%"
              color="accent"
              mode="determinate"
              value="35"
            ></mat-progress-bar>
            <span class="text-white-50 money">1650$</span>
          </div>
        </div>
      </div>
      <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 myprojectr">
        <div class="box">
          <span class="date text-white-50">4/10/2021</span>
          <div class="head mb-5">
            <h2 class="text-capitalize fs-6 mb-1">ahmed application</h2>
            <span class="text-capitalize fs-6 text-white-50"
              >ahmed application project design</span
            >
          </div>
          <div class="body">
            <div class="image d-flex mb-5">
              <img class="img-fluid" src="assets/images/team-01.png" alt="" />
              <img class="img-fluid" src="assets/images/team-02.png" alt="" />
              <img class="img-fluid" src="assets/images/team-03.png" alt="" />
            </div>
            <div class="skills d-flex justify-content-end mb-4">
              <mat-chip-list aria-label="skills">
                <mat-chip class="chip" color="accent" selected>Design</mat-chip>
              </mat-chip-list>
            </div>
          </div>
          <div
            class="foot d-flex justify-content-between align-items-center mb-3"
          >
            <mat-progress-bar
              style="width: 50%"
              color="accent"
              mode="determinate"
              value="80"
            ></mat-progress-bar>
            <span class="text-white-50 money">$950</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
