<div class="container-fluid mb-5">
  <div class="title">
    <h2>files</h2>
  </div>
</div>
<div class="container-fluid">
  <div class="files">
    <div
      class="row justify-content-center flex-xxl-nowrap flex-xl-nowrap flex-lg-nowrap flex-wrap father-row ms-lg-5 me-lg-5 ms-xxl-5 me-xxl-5 ms-xl-5 ms-md-5 me-md-5 me-xl-5 m-sm-0 flex-xxl-row flex-xl-row flex-lg-row flex-md-row flex-column-reverse"
    >
      <div class="col-xxl-9 col-xl-9 col-lg-9 col-md-9 col-sm-12 files-col">
        <div class="row gap-2 son-row justify-content-center">
          <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-4 col-sm-12">
            <div class="file">
              <div class="head">
                <i class="bi bi-download text-white-50 fs-5"></i>
              </div>
              <div
                class="body d-flex flex-column justify-content-center align-items-center"
              >
                <img
                  class="img-fluid mb-2"
                  src="assets/images/pdf.svg"
                  alt=""
                />
                <h3 class="text-capitalize">my-file.PDF</h3>
              </div>
              <div class="user">
                <h5 class="text-capitalize text-white-50 fs-6">elzero</h5>
              </div>
              <div class="foot d-flex justify-content-between">
                <div class="date text-white-50">20/6/2020</div>
                <div class="size text-white-50">5.5MB</div>
              </div>
            </div>
          </div>
          <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-4 col-sm-12">
            <div class="file">
              <div class="head">
                <i class="bi bi-download text-white-50 fs-5"></i>
              </div>
              <div
                class="body d-flex flex-column justify-content-center align-items-center"
              >
                <img
                  class="img-fluid mb-2"
                  src="assets/images/avi.svg"
                  alt=""
                />
                <h3 class="text-capitalize">my-file.AVI</h3>
              </div>
              <div class="user">
                <h5 class="text-capitalize text-white-50 fs-6">admin</h5>
              </div>
              <div class="foot d-flex justify-content-between">
                <div class="date text-white-50">16/5/2021</div>
                <div class="size text-white-50">12.5MB</div>
              </div>
            </div>
          </div>
          <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-4 col-sm-12">
            <div class="file">
              <div class="head">
                <i class="bi bi-download text-white-50 fs-5"></i>
              </div>
              <div
                class="body d-flex flex-column justify-content-center align-items-center"
              >
                <img
                  class="img-fluid mb-2"
                  src="assets/images/eps.svg"
                  alt=""
                />
                <h3 class="text-capitalize">my-file.SVG</h3>
              </div>
              <div class="user">
                <h5 class="text-capitalize text-white-50 fs-6">uploader</h5>
              </div>
              <div class="foot d-flex justify-content-between">
                <div class="date text-white-50">20/6/2020</div>
                <div class="size text-white-50">2.7MB</div>
              </div>
            </div>
          </div>
          <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-4 col-sm-12">
            <div class="file">
              <div class="head">
                <i class="bi bi-download text-white-50 fs-5"></i>
              </div>
              <div
                class="body d-flex flex-column justify-content-center align-items-center"
              >
                <img
                  class="img-fluid mb-2"
                  src="assets/images/psd.svg"
                  alt=""
                />
                <h3 class="text-capitalize">my-file.PSD</h3>
              </div>
              <div class="user">
                <h5 class="text-capitalize text-white-50 fs-6">sameh</h5>
              </div>
              <div class="foot d-flex justify-content-between">
                <div class="date text-white-50">4/10/2020</div>
                <div class="size text-white-50">15.1MB</div>
              </div>
            </div>
          </div>
          <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-4 col-sm-12">
            <div class="file">
              <div class="head">
                <i class="bi bi-download text-white-50 fs-5"></i>
              </div>
              <div
                class="body d-flex flex-column justify-content-center align-items-center"
              >
                <img
                  class="img-fluid mb-2"
                  src="assets/images/dll.svg"
                  alt=""
                />
                <h3 class="text-capitalize">my-file.DLL</h3>
              </div>
              <div class="user">
                <h5 class="text-capitalize text-white-50 fs-6">coder</h5>
              </div>
              <div class="foot d-flex justify-content-between">
                <div class="date text-white-50">4/10/2021</div>
                <div class="size text-white-50">2.2MB</div>
              </div>
            </div>
          </div>
          <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-4 col-sm-12">
            <div class="file">
              <div class="head">
                <i class="bi bi-download text-white-50 fs-5"></i>
              </div>
              <div
                class="body d-flex flex-column justify-content-center align-items-center"
              >
                <img
                  class="img-fluid mb-2"
                  src="assets/images/png.svg"
                  alt=""
                />
                <h3 class="text-capitalize">my-file.PNG</h3>
              </div>
              <div class="user">
                <h5 class="text-capitalize text-white-50 fs-6">designer</h5>
              </div>
              <div class="foot d-flex justify-content-between">
                <div class="date text-white-50">25/5/2021</div>
                <div class="size text-white-50">1.1MB</div>
              </div>
            </div>
          </div>
          <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-4 col-sm-12">
            <div class="file">
              <div class="head">
                <i class="bi bi-download text-white-50 fs-5"></i>
              </div>
              <div
                class="body d-flex flex-column justify-content-center align-items-center"
              >
                <img
                  class="img-fluid mb-2"
                  src="assets/images/dll.svg"
                  alt=""
                />
                <h3 class="text-capitalize">my-file.DLL</h3>
              </div>
              <div class="user">
                <h5 class="text-capitalize text-white-50 fs-6">coder</h5>
              </div>
              <div class="foot d-flex justify-content-between">
                <div class="date text-white-50">20/6/2020</div>
                <div class="size text-white-50">2.2MB</div>
              </div>
            </div>
          </div>
          <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-4 col-sm-12">
            <div class="file">
              <div class="head">
                <i class="bi bi-download text-white-50 fs-5"></i>
              </div>
              <div
                class="body d-flex flex-column justify-content-center align-items-center"
              >
                <img
                  class="img-fluid mb-2"
                  src="assets/images/png.svg"
                  alt=""
                />
                <h3 class="text-capitalize">my-file.PNG</h3>
              </div>
              <div class="user">
                <h5 class="text-capitalize text-white-50 fs-6">designer</h5>
              </div>
              <div class="foot d-flex justify-content-between">
                <div class="date text-white-50">20/6/2020</div>
                <div class="size text-white-50">1.3MB</div>
              </div>
            </div>
          </div>
          <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-4 col-sm-12">
            <div class="file">
              <div class="head">
                <i class="bi bi-download text-white-50 fs-5"></i>
              </div>
              <div
                class="body d-flex flex-column justify-content-center align-items-center"
              >
                <img
                  class="img-fluid mb-2"
                  src="assets/images/psd.svg"
                  alt=""
                />
                <h3 class="text-capitalize">my-file.PSD</h3>
              </div>
              <div class="user">
                <h5 class="text-capitalize text-white-50 fs-6">sameh</h5>
              </div>
              <div class="foot d-flex justify-content-between">
                <div class="date text-white-50">20/6/2020</div>
                <div class="size text-white-50">15.9MB</div>
              </div>
            </div>
          </div>
          <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-4 col-sm-12">
            <div class="file">
              <div class="head">
                <i class="bi bi-download text-white-50 fs-5"></i>
              </div>
              <div
                class="body d-flex flex-column justify-content-center align-items-center"
              >
                <img
                  class="img-fluid mb-2"
                  src="assets/images/pdf.svg"
                  alt=""
                />
                <h3 class="text-capitalize">my-file.PDF</h3>
              </div>
              <div class="user">
                <h5 class="text-capitalize text-white-50 fs-6">elzero</h5>
              </div>
              <div class="foot d-flex justify-content-between">
                <div class="date text-white-50">20/6/2020</div>
                <div class="size text-white-50">5.5MB</div>
              </div>
            </div>
          </div>
          <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-4 col-sm-12">
            <div class="file">
              <div class="head">
                <i class="bi bi-download text-white-50 fs-5"></i>
              </div>
              <div
                class="body d-flex flex-column justify-content-center align-items-center"
              >
                <img
                  class="img-fluid mb-2"
                  src="assets/images/avi.svg"
                  alt=""
                />
                <h3 class="text-capitalize">my-file.AVI</h3>
              </div>
              <div class="user">
                <h5 class="text-capitalize text-white-50 fs-6">admin</h5>
              </div>
              <div class="foot d-flex justify-content-between">
                <div class="date text-white-50">16/5/2021</div>
                <div class="size text-white-50">12.5MB</div>
              </div>
            </div>
          </div>
          <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-4 col-sm-12">
            <div class="file">
              <div class="head">
                <i class="bi bi-download text-white-50 fs-5"></i>
              </div>
              <div
                class="body d-flex flex-column justify-content-center align-items-center"
              >
                <img
                  class="img-fluid mb-2"
                  src="assets/images/eps.svg"
                  alt=""
                />
                <h3 class="text-capitalize">my-file.SVG</h3>
              </div>
              <div class="user">
                <h5 class="text-capitalize text-white-50 fs-6">uploader</h5>
              </div>
              <div class="foot d-flex justify-content-between">
                <div class="date text-white-50">20/6/2020</div>
                <div class="size text-white-50">2.7MB</div>
              </div>
            </div>
          </div>
          <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-4 col-sm-12">
            <div class="file">
              <div class="head">
                <i class="bi bi-download text-white-50 fs-5"></i>
              </div>
              <div
                class="body d-flex flex-column justify-content-center align-items-center"
              >
                <img
                  class="img-fluid mb-2"
                  src="assets/images/psd.svg"
                  alt=""
                />
                <h3 class="text-capitalize">my-file.PSD</h3>
              </div>
              <div class="user">
                <h5 class="text-capitalize text-white-50 fs-6">sameh</h5>
              </div>
              <div class="foot d-flex justify-content-between">
                <div class="date text-white-50">4/10/2020</div>
                <div class="size text-white-50">15.1MB</div>
              </div>
            </div>
          </div>
          <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-4 col-sm-12">
            <div class="file">
              <div class="head">
                <i class="bi bi-download text-white-50 fs-5"></i>
              </div>
              <div
                class="body d-flex flex-column justify-content-center align-items-center"
              >
                <img
                  class="img-fluid mb-2"
                  src="assets/images/dll.svg"
                  alt=""
                />
                <h3 class="text-capitalize">my-file.DLL</h3>
              </div>
              <div class="user">
                <h5 class="text-capitalize text-white-50 fs-6">coder</h5>
              </div>
              <div class="foot d-flex justify-content-between">
                <div class="date text-white-50">4/10/2021</div>
                <div class="size text-white-50">2.2MB</div>
              </div>
            </div>
          </div>
          <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-4 col-sm-12">
            <div class="file">
              <div class="head">
                <i class="bi bi-download text-white-50 fs-5"></i>
              </div>
              <div
                class="body d-flex flex-column justify-content-center align-items-center"
              >
                <img
                  class="img-fluid mb-2"
                  src="assets/images/png.svg"
                  alt=""
                />
                <h3 class="text-capitalize">my-file.PNG</h3>
              </div>
              <div class="user">
                <h5 class="text-capitalize text-white-50 fs-6">designer</h5>
              </div>
              <div class="foot d-flex justify-content-between">
                <div class="date text-white-50">25/5/2021</div>
                <div class="size text-white-50">1.1MB</div>
              </div>
            </div>
          </div>
          <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-4 col-sm-12">
            <div class="file">
              <div class="head">
                <i class="bi bi-download text-white-50 fs-5"></i>
              </div>
              <div
                class="body d-flex flex-column justify-content-center align-items-center"
              >
                <img
                  class="img-fluid mb-2"
                  src="assets/images/dll.svg"
                  alt=""
                />
                <h3 class="text-capitalize">my-file.DLL</h3>
              </div>
              <div class="user">
                <h5 class="text-capitalize text-white-50 fs-6">coder</h5>
              </div>
              <div class="foot d-flex justify-content-between">
                <div class="date text-white-50">20/6/2020</div>
                <div class="size text-white-50">2.2MB</div>
              </div>
            </div>
          </div>
          <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-4 col-sm-12">
            <div class="file">
              <div class="head">
                <i class="bi bi-download text-white-50 fs-5"></i>
              </div>
              <div
                class="body d-flex flex-column justify-content-center align-items-center"
              >
                <img
                  class="img-fluid mb-2"
                  src="assets/images/png.svg"
                  alt=""
                />
                <h3 class="text-capitalize">my-file.PNG</h3>
              </div>
              <div class="user">
                <h5 class="text-capitalize text-white-50 fs-6">designer</h5>
              </div>
              <div class="foot d-flex justify-content-between">
                <div class="date text-white-50">20/6/2020</div>
                <div class="size text-white-50">1.3MB</div>
              </div>
            </div>
          </div>
          <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-4 col-sm-12">
            <div class="file">
              <div class="head">
                <i class="bi bi-download text-white-50 fs-5"></i>
              </div>
              <div
                class="body d-flex flex-column justify-content-center align-items-center"
              >
                <img
                  class="img-fluid mb-2"
                  src="assets/images/psd.svg"
                  alt=""
                />
                <h3 class="text-capitalize">my-file.PSD</h3>
              </div>
              <div class="user">
                <h5 class="text-capitalize text-white-50 fs-6">sameh</h5>
              </div>
              <div class="foot d-flex justify-content-between">
                <div class="date text-white-50">20/6/2020</div>
                <div class="size text-white-50">15.9MB</div>
              </div>
            </div>
          </div>
          <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-4 col-sm-12">
            <div class="file">
              <div class="head">
                <i class="bi bi-download text-white-50 fs-5"></i>
              </div>
              <div
                class="body d-flex flex-column justify-content-center align-items-center"
              >
                <img
                  class="img-fluid mb-2"
                  src="assets/images/psd.svg"
                  alt=""
                />
                <h3 class="text-capitalize">my-file.PSD</h3>
              </div>
              <div class="user">
                <h5 class="text-capitalize text-white-50 fs-6">sameh</h5>
              </div>
              <div class="foot d-flex justify-content-between">
                <div class="date text-white-50">4/10/2020</div>
                <div class="size text-white-50">15.1MB</div>
              </div>
            </div>
          </div>
          <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-4 col-sm-12">
            <div class="file">
              <div class="head">
                <i class="bi bi-download text-white-50 fs-5"></i>
              </div>
              <div
                class="body d-flex flex-column justify-content-center align-items-center"
              >
                <img
                  class="img-fluid mb-2"
                  src="assets/images/dll.svg"
                  alt=""
                />
                <h3 class="text-capitalize">my-file.DLL</h3>
              </div>
              <div class="user">
                <h5 class="text-capitalize text-white-50 fs-6">coder</h5>
              </div>
              <div class="foot d-flex justify-content-between">
                <div class="date text-white-50">4/10/2021</div>
                <div class="size text-white-50">2.2MB</div>
              </div>
            </div>
          </div>
          <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-4 col-sm-12">
            <div class="file">
              <div class="head">
                <i class="bi bi-download text-white-50 fs-5"></i>
              </div>
              <div
                class="body d-flex flex-column justify-content-center align-items-center"
              >
                <img
                  class="img-fluid mb-2"
                  src="assets/images/png.svg"
                  alt=""
                />
                <h3 class="text-capitalize">my-file.PNG</h3>
              </div>
              <div class="user">
                <h5 class="text-capitalize text-white-50 fs-6">designer</h5>
              </div>
              <div class="foot d-flex justify-content-between">
                <div class="date text-white-50">25/5/2021</div>
                <div class="size text-white-50">1.1MB</div>
              </div>
            </div>
          </div>
          <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-4 col-sm-12">
            <div class="file">
              <div class="head">
                <i class="bi bi-download text-white-50 fs-5"></i>
              </div>
              <div
                class="body d-flex flex-column justify-content-center align-items-center"
              >
                <img
                  class="img-fluid mb-2"
                  src="assets/images/dll.svg"
                  alt=""
                />
                <h3 class="text-capitalize">my-file.DLL</h3>
              </div>
              <div class="user">
                <h5 class="text-capitalize text-white-50 fs-6">coder</h5>
              </div>
              <div class="foot d-flex justify-content-between">
                <div class="date text-white-50">20/6/2020</div>
                <div class="size text-white-50">2.2MB</div>
              </div>
            </div>
          </div>
          <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-4 col-sm-12">
            <div class="file">
              <div class="head">
                <i class="bi bi-download text-white-50 fs-5"></i>
              </div>
              <div
                class="body d-flex flex-column justify-content-center align-items-center"
              >
                <img
                  class="img-fluid mb-2"
                  src="assets/images/png.svg"
                  alt=""
                />
                <h3 class="text-capitalize">my-file.PNG</h3>
              </div>
              <div class="user">
                <h5 class="text-capitalize text-white-50 fs-6">designer</h5>
              </div>
              <div class="foot d-flex justify-content-between">
                <div class="date text-white-50">20/6/2020</div>
                <div class="size text-white-50">1.3MB</div>
              </div>
            </div>
          </div>
          <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-4 col-sm-12">
            <div class="file">
              <div class="head">
                <i class="bi bi-download text-white-50 fs-5"></i>
              </div>
              <div
                class="body d-flex flex-column justify-content-center align-items-center"
              >
                <img
                  class="img-fluid mb-2"
                  src="assets/images/psd.svg"
                  alt=""
                />
                <h3 class="text-capitalize">my-file.PSD</h3>
              </div>
              <div class="user">
                <h5 class="text-capitalize text-white-50 fs-6">sameh</h5>
              </div>
              <div class="foot d-flex justify-content-between">
                <div class="date text-white-50">20/6/2020</div>
                <div class="size text-white-50">15.9MB</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-12 stat-col">
        <div class="stat">
          <div class="head">
            <h2 class="text-capitalize m-0">files statistics</h2>
          </div>
          <div class="body">
            <div
              class="box d-flex justify-content-between align-items-center mb-4 flex-lg-row flex-xxl-row flex-xl-row flex-column"
            >
              <div
                class="d-flex flex-lg-row flex-xxl-row flex-xl-row flex-column"
              >
                <div class="pic me-lg-3 me-xl-3 me-xxl-3 me-0 mb-2 pdf">
                  <i class="bi bi-filetype-pdf fs-6"></i>
                </div>
                <div class="content d-flex flex-column justify-content-center">
                  <h5 class="text-capitalize m-0">PDF files</h5>
                  <h5 class="text-white-50 m-0 text-center">130</h5>
                </div>
              </div>
              <div class="size">6.5GB</div>
            </div>
            <div
              class="box d-flex justify-content-between align-items-center mb-4 flex-lg-row flex-xxl-row flex-xl-row flex-column"
            >
              <div
                class="d-flex flex-lg-row flex-xxl-row flex-xl-row flex-column"
              >
                <div class="pic me-lg-3 me-xl-3 me-xxl-3 me-0 mb-2 images">
                  <i class="bi bi-image fs-6"></i>
                </div>
                <div class="content d-flex flex-column justify-content-center">
                  <h5 class="text-capitalize m-0">images</h5>
                  <h5 class="text-white-50 m-0 text-center">115</h5>
                </div>
              </div>
              <div class="size">3.5GB</div>
            </div>
            <div
              class="box d-flex justify-content-between align-items-center mb-4 flex-lg-row flex-xxl-row flex-xl-row flex-column"
            >
              <div
                class="d-flex flex-lg-row flex-xxl-row flex-xl-row flex-column"
              >
                <div class="pic me-lg-3 me-xl-3 me-xxl-3 me-0 mb-2 word">
                  <i class="bi bi-file-earmark-word-fill fs-6"></i>
                </div>
                <div class="content d-flex flex-column justify-content-center">
                  <h5 class="text-capitalize m-0">word files</h5>
                  <h5 class="text-white-50 m-0 text-center">110</h5>
                </div>
              </div>
              <div class="size">3.2GB</div>
            </div>
            <div
              class="box d-flex justify-content-between align-items-center mb-4 flex-lg-row flex-xxl-row flex-xl-row flex-column"
            >
              <div
                class="d-flex align-items-center flex-lg-row flex-xxl-row flex-xl-row flex-column"
              >
                <div class="pic me-lg-3 me-xl-3 me-xxl-3 me-0 mb-2 csv">
                  <i class="bi bi-filetype-csv fs-6"></i>
                </div>
                <div class="content d-flex flex-column justify-content-center">
                  <h5 class="text-capitalize m-0">CSV files</h5>
                  <h5 class="text-white-50 m-0 text-center">99</h5>
                </div>
              </div>
              <div class="size">2.9GB</div>
            </div>
          </div>
          <div class="foot d-flex justify-content-center align-items-center">
            <button
              style="background-color: var(--bs-orange)"
              class="mb-3"
              mat-raised-button
              color="accent"
            >
              <i class="bi bi-chevron-double-up"></i> Upload
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
