/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@sweetalert2/theme-dark/dark.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html,
body {
  height: 100%;
  background-color: white;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.row {
  --bs-gutter-x: 0;
}
a {
  text-decoration: none;
}

$maincolor: #69f0ae;
$secondarycolor: #f44336;
